    /* 向右划通用样式******************************************** */
    
    .slide1-right {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 900px;
        height: 650px;
        background-color: black;
        left: -900px;
        z-index: 2;
        animation: slide-rightplus 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide2-right {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 400px;
        height: 650px;
        background-color: rgb(210, 210, 210);
        left: -400px;
        z-index: 1;
        animation: plus 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide1-rightenter {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 900px;
        height: 650px;
        background-color: black;
        left: 450px;
        z-index: 2;
        animation: slide-rightenter 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide2-rightenter {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 400px;
        height: 500px;
        background-color: rgb(210, 210, 210);
        left: 50px;
        z-index: 1;
        animation: enter 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    /* 向左划通用样式**************************************************** */
    
    .slide1-left {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 900px;
        height: 650px;
        background-color: black;
        left: 1350px;
        z-index: 2;
        animation: slide-leftplus 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide2-left {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 400px;
        height: 650px;
        background-color: rgb(210, 210, 210);
        left: 1350px;
        z-index: 1;
        animation: lplus 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide1-leftenter {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 900px;
        height: 650px;
        background-color: black;
        left: 0px;
        z-index: 2;
        animation: slide-leftenter 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .slide2-leftenter {
        box-shadow: 2px 2px 5px rgb(56, 56, 56);
        position: absolute;
        width: 400px;
        height: 650px;
        background-color: rgb(210, 210, 210);
        z-index: 1;
        animation: lenter 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    /* 盒子************************************* */

    #bplus1 {
        position: absolute;
        top: 0px;
    }
    
    #splus1 {
        position: absolute;
        top: 0px;
    }
    
    #bplus2 {
        position: absolute;
        top: 660px;
    }
    
    #splus2 {
        position: absolute;
        top: 660px;
    }
    
    #bplus3 {
        position: absolute;
        top: 1320px;
    }
    
    #splus3 {
        position: absolute;
        top: 1320px;
    }
    /*盒子内容*/
    .spot {
        margin: 20px 40px;
    }

    .title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .content {
        font-size: 18px;
    }

    /* 向右划动效**************************************************** */
    
    @keyframes slide-rightplus {
        0% {
            transform: translateX(0);
            opacity: 0;
        }
        100% {
            transform: translateX(900px);
            opacity: 1;
        }
    }
    
    @keyframes plus {
        0% {
            transform: translateX(0);
            opacity: 0;
        }
        100% {
            transform: translateX(1300px);
            opacity: 1;
        }
    }
    /* 向左划出动效**************************************************** */
    
    @keyframes slide-leftplus {
        0% {
            transform: translateX(0);
            opacity: 0;
        }
        100% {
            transform: translateX(-900px);
            opacity: 1;
        }
    }
    
    @keyframes lplus {
        0% {
            transform: translateX(0);
            opacity: 0;
        }
        100% {
            transform: translateX(-1300px);
            opacity: 1;
        }
    }
    /* 向右划入动效**************************************************** */
    
    @keyframes slide-rightenter {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(900px);
            opacity: 0;
        }
    }
    
    @keyframes enter {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(1300px);
            opacity: 0;
        }
    }
    /* 向左划入动效**************************************************** */
    
    @keyframes slide-leftenter {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-900px);
            opacity: 0;
        }
    }
    
    @keyframes lenter {
        0% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-1300px);
            opacity: 0;
        }
    }