html, body {
    height: 100%;
    width: 100%;
}

.big-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.big-swiper .swiper-container {
    position: fixed;
}

.big-swiper .swiper-container {
    width: 100%;
    height: 100%;
}

.big-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid rgb(30, 2, 97);
}

.small-swiper .swiper-container {
    width: 900px;
    height: 650px;
}

.small-swiper .swiper-slide img {
    width: 900px;
    height: 650px;
}

.big-swiper .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.25);
}

.small-swiper .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    opacity: 1;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.25);
}

.big-swiper .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.85);
}

.small-swiper .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.85);
}