html, body {
    height: 100%;
    width: 100%;
}

.big-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.big-swiper .swiper-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.big-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-bottom: .03125rem solid rgb(30, 2, 97);
}

/*大轮播图按钮*/

.big-swiper .swiper-pagination-bullet {
    position: relative;
    right: 39rem;
    top: 0.1rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
    border: .125rem solid rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.1);
}

/*大轮播图按钮选中样式*/

.big-swiper .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.95);
}

.big-swiper .swiper-pagination {
    position: relative;
    left: 80rem;
    top: -5.5rem;
}

.small-swiper .swiper-pagination {
    position: relative;
    left: 21.25rem;
    top: -2.5rem;
}

/*小轮播图按钮*/

.small-swiper .swiper-pagination-bullet {
    width: .875rem;
    height: .875rem;
    opacity: 1;
    border: .09375rem solid rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.1);
}

/*小轮播图按钮选中样式*/

.small-swiper .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.95);
}

.small-swiper .swiper-container {
    width: 56.25rem;
    height: 40.625rem;
}

.small-swiper .swiper-slide img {
    width: 56.25rem;
    height: 40.625rem;
}

/*大轮播图上向下滑动提示样式*/

.godown {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.375rem;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65));
    z-index: 2;
}

.godown .jian {
    cursor: pointer;
    position: relative;
    height: 3.75rem;
    width: 3.75rem;
    margin: .6875rem auto;
    animation: godown1 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.godown .jian:hover {
    animation-play-state: paused;
}

.godown .jian img {
    height: 100%;
    width: 100%;
}

@keyframes godown1 {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(.625rem);
    }
}

.w1 {
    position: absolute;
    left: 3.5rem;
    top: 40rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    height: 6.25rem;
    width: 37.5rem;
}

.w2 {
    position: absolute;
    right: 3.5rem;
    top: 40rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    height: 6.25rem;
    width: 37.5rem;
}

.w3 {
    position: absolute;
    right: 3.125rem;
    top: 37.5rem;
    color: white;
    font-weight: bold;
    font-size: 2.125rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    height: 6.25rem;
    width: 37.5rem;
}